mlws-invoice-list {

  .mat-column-includedTotalNet {
    text-align: right;
  }

  .mat-column-includedTotalGross {
    text-align: right;
  }

  .mat-column-excludedTotalNet {
    text-align: right;
  }

  .mat-column-excludedTotalGross {
    text-align: right;
  }
}