mlws-warehouse-item {
  .quantity-field {
    margin-right: 0.5rem;
    width: 12em;
  }
  .type-field {
    margin-right: 0.5rem;
    width: 12em;
  }
  .other-warehouse-field {
    width: 24em;
  }
}